# Prerequisites
*.d
*.cbp
*.depend
*.layout

# visual studio files
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
build/obj/*
.vs/
*.swp
**.pdb

# Compiled Object files
*.slo
*.lo
*.o
*.obj
obj/
object/
x64/
x86/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
# *.so
# *.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
# .lib

# Executables
*.exe
*.out
*.app
